body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.heart {
    position: relative;
    width: 150px;
    height: 150px;
    background: red;
    transform: rotate(-45deg);
    animation: beat 1.5s infinite;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: red;
    border-radius: 50%;
}

.heart::before {
    top: -75px;
    left: 0;
}

.heart::after {
    left: 75px;
    top: 0;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    color: white;
    font-size: 22px;
    text-align: center;
    z-index: 10;
    /* keeps text above heart */
}

.name .ankit {
    font-family: "Brush Script MT", cursive;
    font-size: 28px;
}

.name .pune {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-top: 5px;
}

@keyframes beat {
    0%,
    100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.2) rotate(-45deg);
    }
}